#bloc_page {
	width: 100%;
	box-sizing: border-box;
	max-width: 1250px;
	margin: auto;
}

/*en-tete*/

.logo
{
    list-style: none;
    height: 10px;
    width: 50px;
}

.menu ul
{
    list-style: none;
    display: flex;
    font-size: 10px;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-left: -40px;
    margin-top: -5px;
}

.nav1
{
    margin-left: 850px; 
    border-top: 2px solid blue;
    color: blue; 
}

.nav_chambre
{
    text-decoration: none;
}

.nav_activités
{
    text-decoration: none;
    color: black;
}

.nav_inscription
{
    text-decoration: none;
    color: blue;
}

/*corps*/

body
{
    font-family: 'Raleway', sans-serif;
    color: black;
}


/*header*/

.fas.fa-map-marker-alt.gps::before
{
    border-radius: 15px 0px 0px 15px;
    background-color:darkgray
}

.recherche
{
    display: inline-table;
}

.bouton
{
    color: white;
    border-radius: 0px 15px 15px 0px;
    background-color: rgb(0, 107, 247);
}
.filtres-container
{
   display: flex; 
   margin-top: 20px;
}

.filtres
{
    display: flex;
    margin: 5px;
    margin-top: 5px;
}

.economique
{
    margin: 15px;
    border-radius: 15px;
    border-style: groove;
    text-decoration: none;
}

.familial
{
    margin: 15px;
    border-radius: 15px;
    border-style: groove;
    text-decoration: none;
}

.romantique
{
    margin: 15px;
    border-radius: 15px;
    border-style: groove;
    text-decoration: none;
}

.animal
{
    margin: 15px;
    border-radius: 15px;
    border-style: groove;
    text-decoration: none;
}

.chat-description
{
    text-decoration: none;
}


/*millieu1*/


.info
{
    display: flex;
    align-items: baseline;
}

.fas.fa-info-circle::before
{
    margin-right: 10px;
    color:dodgerblue
    border-radius: 100%;
    background-color: white;

}

.bloc_Marseille_Populaire
{
    display: flex;
    justify-content: space-around;
}

.Mhebergement
{
    flex-wrap: wrap;
    background-color: rgb(201,201,201);
    height: 600px;
    width: 800px;
    border-radius: 15px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    box-shadow: 0 0 5px 4px #d7d7d7;
}

.imageH
{
    height: 90px;
    width: 250px;
}

#hebergement
{
    margin-left: 15px;
}

.lescartes
{
    display: flex;
    justify-content: center;
}

.carte_lien_cartes
{
    margin-right: 5px;
    margin-left: 5px;
    background-color: white;
    border-radius: 15px;
    margin-bottom: 10px;
    text-decoration: none;
}

.detail
{
    justify-content: start;
}

.ainsi_que
{
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 20px;
    justify-content:flex-end;
}


h4
{
    padding-left: 10px;
}

.Populaire_titre
{
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    background-color: rgb(201, 201, 201);
}

.fa-chart-line:before
{
    margin-left: 240px;
    margin-right: 20px;
}

.Populaire
{
    justify-content: space-between;
    align-items: center;
    background-color: rgb(201, 201, 201);
    height: 536px;
    width: 425px;
    border-radius: 15px;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 2px;
    box-shadow: 0 0 5px 4px #d7d7d7;
	display: block;
}

.plus_populaires 
{
    flex-wrap: wrap;
    margin-left: 2px;
    margin-right: 10px;
}

.imageP
{
    height: 140px;
    width: 100px;
}

/*milieu2*/


.Activités_Marseille
{
    display: flex;
}

.activite_MP
{
    height: 150px;
    width: 250px;
    background-color: white;
    border-radius: 15px;
}

.activite_MG
{
    height: 350px;
    width: 250px;
    background-color: white;
    border-radius: 15px;
    margin-right: 25px;
    margin-left: 25px;
}

.lescartes
{
    margin-left: 15px;
    flex-wrap: wrap;
}
.titre_populaire
{
    flex-wrap: wrap;
}

.cartes_populaire
{
    background-color: white;
    border-radius: 15px;
    margin-bottom: 15px;
}

.cartes_lien_Populaire
{
    margin-left: 0px;
    display: flex;
    text-decoration: none;
}

.description
{
    margin-left: 20px;
}

.Activités_Marseille
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.blockactivity
{
    background-color: white;
    border-radius: 15px;
    display: flex;
} 
 
.cadre1
{
    background-color: white;
    border-radius: 15px;
    margin-right: 25px;
    margin-left: 45px;
}
.cadre
{
    background-color: white;
    border-radius: 15px;
}

.Block_MP1 h5
{
    margin-left: 0px;
}

.Block_MP2 h5
{
    margin-left: 0px;
}

.cadre1 h5
{
    margin-left: 40px;
}

.cadre h5
{
    margin-left: 40px;
}

/*footer*/

.navigation-container
{
    display: flex;
    justify-content: space-between;
    background-color: rgb(201, 201, 201);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    box-shadow: 0 0 5px 4px #d7d7d7;
}

.nav-footer 
{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.A_propos 
{
    flex-wrap: wrap;
}

.Nos_hebergements 
{
    flex-wrap: wrap;
}

.Assistance 
{
    flex-wrap: wrap;
    width: 35%;
}
